# mac
.DS_Store
.cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints*

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

output/*
cmbagent/data/classy_sz/*.yaml
cmbagent/data/classy_sz/*.txt 


cmbagent/data/classy/*.yaml
cmbagent/data/classy/*.txt 

cmbagent/data/camb/*.yaml
cmbagent/data/camb/*.txt 


.env
*bor11031990*


docs/_*
output/cmb_tt_power_spectrum.png
docs/notebooks/bbolliet_local
docs/cmbagent_*_arxiv
docs/cmbagent_*zip