include LICENSE
include README.md
recursive-exclude cmbagent/output *
recursive-exclude cmbagent/cmbagent/data *
global-exclude __pycache__/
global-exclude *.py[cod]
global-exclude *.egg-info/
global-exclude .DS_Store
recursive-exclude cmbagent/docs * 
include cmbagent/apis/*.json
include cmbagent/assistants/*yaml
include cmbagent/planner/*yaml
include cmbagent/engineer/*yaml
include cmbagent/executor/*yaml
include cmbagent/admin/*yaml
