[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "Cython>=0.29.21",
    "setuptools_scm"
]
build-backend = "setuptools.build_meta"

[project]
version = "0.0.1post2"
name = "cmbagent"
maintainers = [{name = "CMBAgents Team", email = "cmbagents@gmail.com"}]
description = "Multi-agent system for data analysis, made by cosmologists, powered by autogen."
readme = {file = "README.md", content-type = "text/markdown"}
requires-python = ">=3.6"  # Specify the Python version requirement here
dependencies = [
    "numpy>=1.19.0",
    "camb",
    "cobaya",
    "getdist",
    "classy_sz",
    "cmbagent_autogen>=0.0.6post1",
    "ruamel.yaml",
    "pandas",
    "ipython"
]

[tool.setuptools.package-data]
cmbagent = [
  "cmbagent/apis/*.json",
  "cmbagent/assistants/*.yaml",
  "cmbagent/planner/*.yaml",
  "cmbagent/engineer/*.yaml",
  "cmbagent/executor/*.yaml",
  "cmbagent/admin/*.yaml"
]

[project.urls]
Homepage = "https://github.com/CMBAgents/cmbagent"
GitHub = "https://github.com/CMBAgents/cmbagent"

#[tool.setuptools_scm]
#write_to = "cmbagent/version.py"



[tool.setuptools.packages.find]
exclude = ["output"]
